%div.contents
  =render 'layouts/user-detail'
  %div.right-content-group-detail
    %div.right-content-group-detail__name グループ名　
    %a{href: "edit"}
      %div.right-content-group-detail__edit-botton Edit
    %div.right-content-group-detail__member-list MEMBER: user1、user2、user3
  =render 'layouts/groups'
  %div.right-content-message
    - @messages.each do |message|
      %div.right-content-message__user-name=message.user.name
      %div.right-content-message__date=message.created_at
      %div.right-content-message__message-text=message.content

  %div.right-content-form
    = form_for @message, url: group_messages_path do |f|
      =f.text_field :content, class: "right-content-form__text-form", placeholder: 'type a message'
      =f.submit "SEND", class: "right-content-form__submit-botton"
