%div.contents
  %div.left-content-user-detail
    %div.left-content-user-detail__name ユーザー名
    %a{href: "/users/edit"}= fa_icon "cog", class: "left-content-user-detail__icon"
    %a{href: "/groups/new"}= fa_icon "edit", class: "left-content-user-detail__icon"
  %div.right-content-group-detail
    %div.right-content-group-detail__name グループ名　
    %a{href: "/groups/1/edit"}
      %div.right-content-group-detail__edit-botton Edit
    %div.right-content-group-detail__member-list MEMBER: user1、user2、user3
  %div.left-content-group-list
    %div.left-content-group-list__name グループ１
    %div.left-content-group-list__latest-message 新着メッセージ
    %div.left-content-group-list__name グループ２
    %div.left-content-group-list__latest-message 新着メッセージ
  %div.right-content-message
    %div.right-content-message__user-name user1
    %div.right-content-message__date 2018/03/25
    %div.right-content-message__message-text メッセージです
    %div.right-content-message__user-name user1
    %div.right-content-message__date 2018/03/25
    %div.right-content-message__message-text メッセージです
    %div.right-content-message__user-name user1
    %div.right-content-message__date 2018/03/25
    %div.right-content-message__message-text メッセージです
    %div.right-content-message__user-name user1
    %div.right-content-message__date 2018/03/25
    %div.right-content-message__message-text メッセージです
    %div.right-content-message__user-name user1
    %div.right-content-message__date 2018/03/25
    %div.right-content-message__message-text メッセージです
    %div.right-content-message__user-name user1
    %div.right-content-message__date 2018/03/25
    %div.right-content-message__message-text メッセージです
    %div.right-content-message__user-name user1
    %div.right-content-message__date 2018/03/25
    %div.right-content-message__message-text メッセージです
  %div.right-content-form
    %form{action: "", method: :post}
      %input{type: "text", class: "right-content-form__text-form", placeholder: 'type a message'}
      %input{type: "submit", class: "right-content-form__submit-botton", value: "send"}
