- set_meta_tags(params: {user: current_user, members: @members, group: @group, messages: @messages, newMessage: {}}.to_json)

#messages-index
  loading
-# .contents
-#   =render 'layouts/side-bar'
-#   .right-content-group-detail
-#     .right-content-group-detail__name
-#       =@group.name
-#     %a{href: "edit"}
-#       .right-content-group-detail__edit-botton Edit
-#     .right-content-group-detail__member-list
-#       MEMBER:
-#       -@group.users.each do |user|
-#         =user.name
-#   .right-content-main
-#     - @messages.each do |message|
-#       .right-content-main-message{ id: message.id, data: { id: message.id } }
-#         .right-content-main-message__user-name=message.user.name
-#         .right-content-main-message__date=message.created_at
-#         - if message.content.present?
-#           .right-content-main-message__message-text= message.content
-#         - if message.image.present?
-#           .right-content-main-message__message-text= image_tag message.image.url

-#   .form
-#     = form_for [@group, @message], html: {id: 'new_message', class: 'form__new_message'} do |f|
-#       = f.text_field :content, class: 'form__new_message__text', placeholder: 'type a message'
-#       = f.label :image do
-#         = fa_icon 'picture-o', class: 'form__new_message__icon'
-#       = f.file_field :image, class: 'hidden'
-#       = f.submit 'Send', class: 'form__new_message__submit-btn'

