@mixin right-contents {
  padding: 0 40px;
  width: calc(100vw - 380px);
  float: right;
}

.hidden {
  display: none;
}

$deepBlue: #253141;
$darkBlue: #2f3e51;
$skyBlue: #38AEF0;
$lightBlue: #fafcfd;
