.right-content-group-detail {
  @include right-contents;
  height: 100px;
  border-bottom: 1px solid #eeeeee;
  background-color: #FFFFFF;
  position: fixed;
  margin-left: 300px;

  &__name {
    font-size: 20px;
    color: #333333;
    padding: 35px 0 15px;
    float: left;
  }

  &__edit-botton {
    padding: 0 20px;
    margin-top: 28px;
    height: 40px;
    line-height: 40px;
    float: right;
    color: $skyBlue;
    border: 1px solid $skyBlue;
  }

  &__member-list {
    font-size: 12px;
    color: #999999;
    clear: both;
  }
}
