.form {
  @include right-contents;
  background-color: #AAAAAA;
  position: fixed;
  margin-left: 300px;
  bottom: 0;
  z-index: 2;

  &__mask {
    width: calc(100vw - 300px);

    &__text {
      margin: 20px 0;
      height: 50px;
      padding-left: 10px;
      width: calc(100vw - 550px);
    }

    &__icon {
      margin: 20px 0;
      height: 50px;
      line-height: 50px;
      float: right;
    }

    &__submit-btn {
      background-color: $skyBlue;
      margin: 20px 0;
      height: 50px;
      width: 80px;
      color: #FFFFFF;
      border: none;
      float: right;
      margin-left: 15px;
      padding: 0 20px;
    }
  }
}

