.right-content-main {
  @include right-contents;
  background-color: $lightBlue;
  min-height: calc(100vh - 100px - 120px);
  margin-top: 100px;
  padding-bottom: 90px;
  // padding-top: 46px;
  z-index: 1;

  &-message {
    position: relative;
    // display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 20px 30px;
    width: 40%;
    background: #e0edff;

    &__user-name {
      font-size: 16px;
      color: #434A54;
      font-weight: bold;
      padding-bottom: 10px;
      padding-right: 10px;
      display:inline-block;
    }

    &__date {
      font-size: 12px;
      color: #999999;
      display:inline-block;
    }

    &__message-text {
      font-size: 14px;
      color: #434A54;
    }
  }
  &-message:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
  }
}
