.form {
  @include right-contents;
  background-color: #AAAAAA;
  position: fixed;
  margin-left: 300px;
  bottom: 0;
  z-index: 2;

  &__new_message {
    width: calc(100vw - 395px);
    height: 90px;
    position: relative;

    &__text {
      height: 50px;
      width: calc(100vw - 505px);
      padding-left: 10px;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -25px;
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: calc(100vw - 530px);
      margin-top: -8px;
    }

    &__submit-btn {
      background-color: $skyBlue;
      margin: 20px 0;
      height: 50px;
      width: 80px;
      color: #FFFFFF;
      border: none;
      float: right;
      margin-left: 15px;
      padding: 0 20px;
    }
  }
}

