.contents {

  .left-content {
    width: 300px;
    float: left;
    position: fixed;

    .left-content-user {
      background-color: #253141;
      padding: 35px 20px 0;
      height: 100px - 35px;
      position: relative;

      .left-content-user__name {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        float:left;
      }

      .left-content-user__icon {
        color: #FFFFFF;
        float: right;
      }
    }

    .left-content-group {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 20px 20px 0;

      .left-content-group__list {
        padding-bottom: 40px;

        .left-content-group__list--name {
          font-size: 15px;
          color: #FFFFFF;
        }

        .left-content-group__list--text {
          font-size: 11px;
          color: #FFFFFF;
        }
      }
    }
  }

  .right-content {
    width: calc(100vw - 300px);
    float: right;

      .right-content-group {
        padding: 0 40px;
        height: 100px;
        width: calc(100vw - 300px - 80px);
        border-bottom: 1px solid #eeeeee;
        background-color: #FFFFFF;
        position: fixed;

        .right-content-group__name {
          font-size: 20px;
          color: #333333;
          padding: 35px 0 15px;
          float: left;
        }

        .right-content-group__edit-botton {
          padding: 0 20px;
          margin-top: 28px;
          height: 40px;
          line-height: 40px;
          float: right;
          color: #38AEF0;
          border: 1px solid #38AEF0;
        }

        .right-content-group__member {
          font-size: 12px;
          color: #999999;
          clear: both;
        }
      }

      .right-content-message {
        padding: 46px 40px 0;
        margin-top: 100px;
        background-color: #EFEFFB;
        min-height: calc(100vh - 100px - 120px);

        .right-content-message__list {
          padding: 0 0 40px;

          .right-content-message__list--name {
            font-size: 16px;
            color: #434A54;
            font-weight: bold;
            padding-bottom: 10px;
            padding-right: 10px;
            display:inline-block;
          }

          .right-content-message__list--date {
            font-size: 12px;
            color: #999999;
            display:inline-block;
          }

          .right-content-message__list--text {
            font-size: 14px;
            color: #434A54;
          }
        }
      }
      .right-content-form {
        width: calc(100vw - 300px);
        background-color: #AAAAAA;
        padding: 20px 40px;
        position: fixed;
        bottom: 0;
        .right-content-form__text-form{
          padding-left: 10px;
          height: 50px;
          width: calc(100vw - 300px - 195px);
        }

        .right-content-form__submit-botton {
          background-color: #38AEF0;
          width: 80px;
          height: 50px;
          color: #FFFFFF;
          border: none;
          margin-left: 15px;
          padding: 0 20px;
        }
      }
  }
}
