.side-bar
  .side-bar-user-detail
    .side-bar-user-detail__name=current_user.name
    %a{href: "/users/edit"}= fa_icon "cog", class: "side-bar-user-detail__icon"
    %a{href: "/groups/new"}= fa_icon "edit", class: "side-bar-user-detail__icon"

  - current_user.groups.each do |group|
    = link_to group_messages_path(group) do
      .side-bar-group-list
        .side-bar-group-list__name
          =group.name
        .side-bar-group-list__latest-message
          -if group.messages.present?
            - if group.messages.order('created_at DESC')[0].image.present?
              画像が送信されました
            -else
              = group.messages.order('created_at DESC')[0].content
          -else
            まだメッセージはありません
